@inject IStringLocalizer<Resources.AdmissionInfo> localizer

<div class="section-title">
    <h2>@localizer["admission"]</h2>
    <h3>@localizer["admission"] <span>@localizer["started"] 📢</span></h3>
    <p>@localizer["Developed"]</p>
</div>