@inject IStringLocalizer<Resources.AdmissionAdvantagesComponent> localizer

<div class="section-title">
    <br>
    <br>
    <h2>@localizer["Ustunlik"]</h2>
    <h3>@localizer["bizning"] <span>@localizer["Ustunlik"] 🌟</span></h3>
    <p>@localizer["ustunlikInfo"]</p>
</div>