@inherits LayoutComponentBase
@inject IStringLocalizer<Resources.NavbarComponent> localizer

<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
  <div class="container d-flex justify-content-center justify-content-md-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope d-flex align-items-center"><a
          href="mailto:contact@example.com">ilmhubuz@gmail.com</a></i>
      <i class="bi bi-phone d-flex align-items-center ms-4"><a href="tel:1-998977333898">998977333898</a></i>
    </div>
    <SocialMediaLinksIlmHub></SocialMediaLinksIlmHub>
  </div>
</section>

<header class="navbar-light navbar-sticky">
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand me-0" href="index.html">
				<img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
			</a>
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi mobile-nav-toggle bi-list"></i>
			</button>
			<div class="navbar-collapse collapse" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll ms-auto">
					<li class="nav-item dropdown"><a class="nav-link" href="index-4.html">Course</a></li>
					<li class="nav-item"><a class="nav-link" href="docs/alerts.html">Components</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
