@inject IStringLocalizer<Resources.ContactUsTitle> localizer

<div class="section-title">
    <h2>@localizer["contact"]</h2>
    <h3><span>@localizer["contactUs"]</span></h3>
    <p>@localizer["text"]</p>
</div>