@using Google.Apis.Auth.OAuth2
@using Google.Apis.Drive.v3
@using Google.Apis.Services
@using Google.Apis.Upload

@inject IStringLocalizer<Resources.ContactUs> localizer
@inject IJSRuntime jsRun
<section id="contact" class="contact">

    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <img src="about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
                data-aos-delay="100">

                <form method="post" role="form" class="php-email-form" id="teacher-form">
                    <div class="row">
                        <div class="col form-group">
                            <input type="text" name="Fullname" class="form-control" id="name"
                                placeholder="Your Fullname" required>
                        </div>
                        <div class="col form-group">
                            <input type="email" class="form-control" name="Email" id="email" placeholder="Your Email"
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" min="0" name="ExperienceInYears"
                            id="ExperienceInYears" placeholder="Your Experience in years" required>
                        <input type="hidden" id="myResume" name="myResume"
                            value="https://drive.google.com/drive/folders/1aAI3et6H61XOfMm2BcmCU5MXM84XmS-W">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Phone" id="Phone" placeholder="Your Phone"
                            required>
                    </div>
                    <div class="form-group">
                        <InputFile class="form-control" OnChange="@Uploader" type="file" accept="application/pdf,
                            application/vnd.openxmlformats-officedocument.wordprocessingml.document"></InputFile>
                    </div>
                    <select class="form-select" name="EnglishLevel" aria-label="Default select example">
                        <option value="A0">A0</option>
                        <option value="A1">A1</option>
                        <option value="A2">A2</option>
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                        <option value="C1">C1</option>
                        <option value="C2">C2</option>
                    </select>
                    <div class="form-group mt-4">
                        <textarea class="form-control" name="Subject" rows="5" placeholder="Message"
                            required></textarea>
                    </div>
                    <div class="text-center"><button onclick="Send_Team_Data()"
                            type="submit">@localizer["Sent"]</button></div>
                    <div id="res_suc" hidden class="alert alert-success mt-3">@localizer["Success"]</div>
                    <div id="res_err" hidden class="alert alert-danger">@localizer["Error"]</div>
                </form>
            </div>
        </div>
    </div>
</section>
@code {
    private const string PathToServiceAccountKeyFile =@"C:\\Users\\Hp\\akiss\\wwwroot\\Json\\uploader-343216-4b372db9b1b9.json";
    private const string ServiceAccountEmail = "file-uploader@uploader-343216.iam.gserviceaccount.com";
    private const string DirectoryId = "1aAI3et6H61XOfMm2BcmCU5MXM84XmS-W";

    public async Task Uploader(InputFileChangeEventArgs inputFile)
    {
        string UploadFileName = inputFile.File.Name;
        // Load the Service account credentials and define the scope of its access.
        var credential = GoogleCredential.FromFile(PathToServiceAccountKeyFile)
        .CreateScoped(DriveService.ScopeConstants.Drive);


        // Create the Drive service.
        var service = new DriveService(new BaseClientService.Initializer()
        {
            HttpClientInitializer = credential
        });

        // Upload file Metadata
        var fileMetadata = new Google.Apis.Drive.v3.Data.File()
        {
            Name = UploadFileName,
            Parents = new List<string>() { "1aAI3et6H61XOfMm2BcmCU5MXM84XmS-W" }

        };
        string uploadedFileId;

        // Create a new file, with metadata and stream.
        var request = service.Files.Create(fileMetadata, inputFile.File.OpenReadStream(512000), "image/" +
        fileMetadata.Name.Substring(fileMetadata.Name.IndexOf('.') + 1));
        request.Fields = "*";
        var results = await request.UploadAsync(CancellationToken.None);

        if (results.Status == UploadStatus.Failed)
        {
            Console.WriteLine($"Error uploading file: {results.Exception.Message}");
        }

        // the file id of the new file we created
        uploadedFileId = request.ResponseBody?.Id;
    }
}