<div class="social-links d-none d-md-flex align-items-center">
    <a onclick="window.open('https://t.me/ilmhubuz', '_blank')" class="telegram"><i class="bx bxl-telegram"></i></a>
    <a onclick="window.open('http://instagram.com/ilmhubuz', '_blank')" class="instagram"><i
            class="bx bxl-instagram"></i></a>
    <a onclick="window.open('https://www.youtube.com/c/IlmhubITTalim/featured', '_blank')" class="youtube"><i
            class="bx bxl-youtube"></i></a>
    <a onclick="window.open('http://www.facebook.com/profile.php?id=100078403862456', '_blank')" class="facebook"><i
            class="bx bxl-facebook"></i></a>
</div>