<div class="social-links d-none d-md-flex align-items-center">
    <a href="https://www.facebook.com/profile.php?id=100078403862456" class="facebook"><i class="bi bi-facebook"></i></a>
    <a href="https://instagram.com/ilmhubuz" class="instagram"><i class="bi bi-instagram"></i></a>
    <a href="https://t.me/ilmhubuz" class="linkedin"><i class="bi bi-telegram"></i></a>
</div>