@using Models
@inject IStringLocalizer<Resources.ITProgramm> localizer

<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="section-title">
                <h2>@localizer["it"]</h2>
                <h3>@localizer["itlessons"]</h3>
                <p>@localizer["aboutitlessons"]</p>
            </div>
            <div class="container">
                <div class="row">
                    @foreach (var item in models)
                    {
                        <ItProgramItemComponent Model="@item" />
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    List<ItProgramItemModel> models = new List<ItProgramItemModel>
    {
        new ItProgramItemModel()
        {
            Tag="arduinotag",
            Description="arduinodescr",
            Name="arduino",
            Image="img/courses/Arduino.png"
        },
        new ItProgramItemModel()
        {
            Tag="scratchtag",
            Description="scratchdescr",
            Name="scratch",
            Image="img/courses/Scratch.png"
        },
        new ItProgramItemModel()
        {
            Tag="pythonbeginnertag",
            Description="pythonbeginnerdescr",
            Name="pythonbeginner",
            Image="img/courses/Python.png"
        }
    };
}