@page "/admission"
<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <AdmissionTitleComponent></AdmissionTitleComponent>

        <AdmissionInfoComponent></AdmissionInfoComponent>
        <AdmissionFormComponent></AdmissionFormComponent>
    </div>
</section>