@page "/admission"

<AdmissionHeroComponent></AdmissionHeroComponent>

<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <AdmissionTitleComponent></AdmissionTitleComponent>

        <AdmissionInfoComponent></AdmissionInfoComponent>

        <AdmissionFaturedComponent></AdmissionFaturedComponent>

        <AdmissionFormComponent></AdmissionFormComponent>
    </div>
</section>