@page "/contactus"
@inject IStringLocalizer<Resources.ContactUs> localizer

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

    <ContactUsTitleComponent></ContactUsTitleComponent>

    <ContactUsComponent></ContactUsComponent>

    </div>
</section><!-- End Contact Section -->
