@page "/"
@inject IStringLocalizer<Resource> localizer

<PageTitle>Index</PageTitle>

<HeroeComponent></HeroeComponent>

<!-- ======= Services Section ======= -->
    <AdmissionInfoComponent></AdmissionInfoComponent>
<!-- End Services Section -->

@* <h1>@localizer["hw"]</h1> *@

