@page "/"
@inject IStringLocalizer<Resources.HeroeComponent> localizer
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<HeroeComponent></HeroeComponent>
<TeachersComponent></TeachersComponent>
<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <AdmissionTitleComponent></AdmissionTitleComponent>

        <AdmissionInfoComponent></AdmissionInfoComponent>
        <br />
        <div class="text-center">
            <button class="btn btn-primary" href="javascript:function() { return false; }"
                @onclick="GoToAdmission">@localizer["heroebutton"]</button>
        </div>
    </div>
</section>

@code {
    private async Task GoToAdmission()
    {
        NavigationManager.NavigateTo("/admission");
        await Task.Delay(100);
        await JSRuntime.InvokeVoidAsync("BlazorScrollToId", "admission-form");
    }
}