@inject IStringLocalizer<Resources.TeachersComponent> localizer
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<section id="f" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@localizer["teachersection"]</h2>
            <h3>@((MarkupString)localizer["ourteachers"].ToString()) </h3>
            <p>@localizer["teachersubtitle"]</p>
        </div>
        <div class="row">
            <TeachersInUs></TeachersInUs>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" href="javascript:function() { return false; }"
                @onclick="GoToTeachers">@localizer["registration"]</button>
        </div>
    </div>
</section>

@code {
    private async Task GoToTeachers()
    {
        NavigationManager.NavigateTo("/teachers");
        await Task.Delay(100);
        await JSRuntime.InvokeVoidAsync("BlazorScrollToId", "teacher-form");
    }
}